# Pre-processing data

In [76]:
#import bookstores and dataset
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('/home/pikeblessed/proyecto_phnan/deploy-project-datascience/data/Dataset phnan.csv', delimiter=';')
df.head(1)

,ID de contenido,Fecha,Tipo de contenido,Cantidad de comentarios,Cantidad de me gusta,Alcance del contenido,Interacció,Interacciones,Guardados único
0,18015349378552778,01/04/2023,VIDEO,2,27,664,32,32,1

In [77]:
#cleaning dataset
df = df.drop(['ID de contenido', 'Interacció'], axis=1)

In [78]:
#rename features
feature_names = ['date', 'format', 'comments', 'likes', 'reach', 'engagement', 'saved']
df.columns = feature_names
df.head(1)

         date format  comments  likes  reach  engagement  saved
0  01/04/2023  VIDEO         2     27    664          32      1

In [79]:
#convert date to date type
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')
df.dtypes

date          datetime64[ns]
format                object
comments               int64
likes                  int64
reach                  int64
engagement             int64
saved                  int64
dtype: object

In [80]:
#create new feature: shares
df['shares'] = df['engagement'] - df['likes'] - df['comments'] - df['saved']
df.head(1)

        date format  comments  likes  reach  engagement  saved  shares
0 2023-04-01  VIDEO         2     27    664          32      1       2

In [81]:
#encode object feature
df['format'] = df['format'].replace({'VIDEO': 1, 'IMAGE': 2, 'CAROUSEL_ALBUM': 3})
df.head(1)

        date  format  comments  likes  reach  engagement  saved  shares
0 2023-04-01       1         2     27    664          32      1       2

In [86]:
#delete outliers
Q1 = df['reach'].quantile(0.25)
Q3 = df['reach'].quantile(0.75)
IQR = Q3 - Q1
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR
df_filtered = df[(df['reach'] >= lower_limit) & (df['reach'] <= upper_limit)]

df.shape, df_filtered.shape

((278, 8), (250, 8))

In [87]:
#save df processed
df_filtered.to_csv('/home/pikeblessed/proyecto_phnan/deploy-project-datascience/data/df_processed.csv', index=False)